*{
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: normal;
}
body{
    /*background: linear-gradient(to bottom right, #014871, #d7ede2);*/
    background-color: #f2f9ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin: 0%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.navbar{
    /*background: rgba(255,255,255,0.15);*/
    background-color: #81bfda;
    backdrop-filter: blur(10px);
    padding-right: 15px;
    padding-left: 15px;
    width: 99%;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 25px;
}
.butt{
    background: linear-gradient(to bottom, #00ffe9, #2e3192);
    margin-left: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgb(67, 67, 67);
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
.butt a{
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}
p{
    padding: 5px;
    margin: 0%;
}
.total{
    /*background: rgba(255,255,255,0.1);*/
    background-color: #14b1be;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgb(67, 67, 67);
    border-radius: 10px;
    display: flex;
    margin: 0%;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    height: 647px;
    width: 524px;
}
.TCG{
    margin: 25px;
    display: flex;
    align-items: center;
}
.name{
    font-size: 2rem;
    font-weight: bold;
    /*background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);*/
    background-color: #d5fbff;
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 370px;
    text-transform: capitalize;
}
button[type="submit"]{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;;
}
.rotate{
    animation: spin 0.3s linear;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card{
    display: flex;
    height: 342px;
    width: 245px;
}
.default{
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgb(67, 67, 67);
    height: 342px;
    width: 245px;
}

.gencard{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.set{
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.rare{
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.price{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
}
.errormsg{
    color: rgb(255, 0, 0);
    font-weight: bold;
}